<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div id=pakker>
        <h1>Topp 10</h1>
        <br>
        <a class="meny" href="/">Hjem</a>
        <a class="meny" href="/liste/navn">Liste</a>
        <br>
        <br>
        <div>
            {% for fjell in fjellene %}
            <div id="fjell">
                <h2>{{fjell.navn}}</h2>
                <img src="../../static/img/{{fjell.bilde}}" alt="">
                <p>Høyde: {{fjell.hoyde}}</p>
                <p>Kommune: {{fjell.kommune}}</p>
            </div>
            {% endfor %}

        </div>
    </div>
</body>

</html>