/* variabler */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
  --text: #9893d8;
  --headers: #dddbff;
}

/* base styles */
body {
  /*Endre farge på bakgrunnen?*/
  background-color: var(--secondary);
  font-family: "Rubik Regular";
}

/* fonts */
@font-face {
  font-family: "Rubik Regular";
  src: url("fonts/Rubik-Regular.ttf") format("ttf");
}
/*Endre farge på h1, h3 og p?*/

/* mobile styles */
header img {
  width: 100%;
}
#portfolio {
  text-align: center;
}
#portfolio img {
  width: 80%;
}
