body {
    background-color: rgb(50, 70, 97);
}

#pakker {
    max-width: 700px;
    margin: auto;
}

#grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;
}

#grid div {
    background-color: aliceblue;
    border: 2px solid black;
    padding: 10px;
}

#grid div:hover {
    cursor: pointer;
    box-shadow: 3px 3px 7px 7px #55074e;
}

#grid img {
    width: 100%;
}

h1 {
    text-align: center;
    color: aliceblue;
}

.pris {
    text-align: center;
    font-size: 30px;
}

#grid a {
    color: black;
    text-decoration: none;

}

a.meny {
    color: azure;
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 10px;

}
img{
    width: 100%;
}
table,
th,
td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: azure;
}

table tr:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}
#fjell h2{
    color: cornsilk;
    font-size: 50px;
}
#fjell p{
    color: cornsilk;
}