<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studenter</title>
</head>

<body>
    <h1>Studenter</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Navn</th>
        </thead>
        <tbody>
            {% for student in studenter %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.navn }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>